{% extends 'base.html' %}

{% block content %}

<script src="https://cdn.highcharts.com.cn/highcharts/highcharts.js"></script>
<script src="https://cdn.highcharts.com.cn/highcharts/modules/exporting.js"></script>
<script src="https://img.hcharts.cn/highcharts-plugins/highcharts-zh_CN.js"></script>
<script src="https://cdn.highcharts.com.cn/highcharts/themes/sand-signika.js"></script>

<script>
var t = new Date();
var mo = t.getMonth();
var d = t.getDate();
</script>

<div id="five" style="min-width:400px;height:400px"></div>
<script>
var chart = Highcharts.chart('five', {
	chart: {
		zoomType: 'xy'
	},
	title: {
		text: 'Last 5 Days'
	},
	subtitle: {
		text: 'Smart Bottle'
	},
	xAxis: [{
        categories: ['4 days ago', '3 days ago', 'The day before yesterday', 'Yesterday', 'Today'],
        {#mo+"/"+(d-4),mo+"/"+(d-3),mo+"/"+(d-2),mo+"/"+(d-1),mo+"/"+d#}

        crosshair: true
	}],
	yAxis: [{ // Primary yAxis
		title: {
			text: 'Volume',
			style: {
				color: Highcharts.getOptions().colors[1]
			}
		},
		labels: {
			format: '{value} ml',
			style: {
				color: Highcharts.getOptions().colors[1]
			}
		},
		opposite: true
	}, { // Secondary yAxis
		labels: {
			format: '{value}',
			style: {
				color: Highcharts.getOptions().colors[0]
			}
		},
		title: {
			text: 'Frequency',
			style: {
				color: Highcharts.getOptions().colors[0]
			}
		}
	}],
	tooltip: {
		shared: true
	},
	series: [{
		name: 'Frequency',
		type: 'spline',
        yAxis: 1,
		data: {{freq}},
		tooltip: {
			valueSuffix: ''
		},
        color: Highcharts.getOptions().colors[0]
    },{
		name: 'Volume',
		type: 'spline',
		data: {{amt}},
		tooltip: {
			valueSuffix: ' ml'
		},
        color: Highcharts.getOptions().colors[1]
	}]
});
</script>
{% endblock %}